{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- META ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />

    <!-- DESCRIPTION -->
    <meta name="description" content="UniFlare: Igniting Bright Minds in the University" />

    <!-- OG -->
    <meta property="og:title" content="UniFlare: Igniting Bright Minds in the University" />
    <meta property="og:description" content="UniFlare: Igniting Bright Minds in the University" />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON ============================================= -->
    <link rel="icon" href="{% static 'assets/images/uniabuja.png' %}" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/uniabuja.png' %}" />

    <!-- PAGE TITLE  ============================================= -->
    <title>UniFlare: Igniting Bright Minds in the University</title>

    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script src="{% static 'assets/js/html5shiv.min.js' %}"></script>
    <script src="{% static 'assets/js/respond.min.js' %}"></script>
    <![endif]-->

    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/assets.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/calendar/fullcalendar.css' %}">

    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/typography.css' %}">

    <!-- SHORTCODES ============================================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/shortcodes/shortcodes.css' %}">

    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/dashboard.css' %}">
    <link class="skin" rel="stylesheet" type="text/css" href="{% static 'assets/css/color/color-1.css' %}">
</head>

<body class="ttr-opened-sidebar ttr-pinned-sidebar">
    <!-- header start -->
    <header class="ttr-header">
        <div class="ttr-header-wrapper">
            <!--sidebar menu toggler start -->
            <div class="ttr-toggle-sidebar ttr-material-button">
                <i class="ti-close ttr-open-icon"></i>
                <i class="ti-menu ttr-close-icon"></i>
            </div>
            <!--sidebar menu toggler end -->
            <!--logo start -->
            <div class="ttr-logo-box">
                <div>
                    <a href="{% url 'index' %}" class="ttr-logo">
                        <img class="ttr-logo-mobile" alt="" src="{% static 'assets/images/uniabuja02.png' %}" width="30" height="30">
                        <img class="ttr-logo-desktop" alt="" src="{% static 'assets/images/uniabuja02.png' %}" width="30" height="27">
                    </a>
                </div>
            </div>
            <!--logo end -->
            <div class="ttr-header-menu">
                <!-- header left menu start -->
                <ul class="ttr-header-navigation">
                    <li>
                        <a href="{% url 'index' %}" class="ttr-material-button ttr-submenu-toggle">HOME</a>
                    </li>
                    <li>
                        <a href="#" class="ttr-material-button ttr-submenu-toggle">QUICK MENU <i class="fa fa-angle-down"></i></a>
                        <div class="ttr-header-submenu">
                            <ul>
                                <li><a href="/courses/">Our Courses</a></li>
                                <li><a href="{% url 'blog' %}">Blog</a></li>
                                <li><a href="{% url 'blog_details' %}">Blogs in detail</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="{% url 'user_logout' %}" class="ttr-material-button ttr-submenu-toggle">LOGOUT</a>
                    </li>
                </ul>
                <!-- header left menu end -->
            </div>
            <div class="ttr-header-right ttr-with-seperator">
                <!-- header right menu start -->
                <ul class="ttr-header-navigation">
                    
                    <li>
                        <a href="#" class="ttr-material-button ttr-submenu-toggle"><i class="fa fa-bell"></i></a>
                        <div class="ttr-header-submenu noti-menu">
                            <div class="ttr-notify-header">
                                <span class="ttr-notify-text-top">1 New</span>
                                <span class="ttr-notify-text">User Notifications</span>
                            </div>
                            <div class="noti-box-list">
                                <ul>
                                    <li>
                                        <span class="notification-icon dashbg-gray">
                                            <i class="fa fa-check"></i>
                                        </span>
                                        <span class="notification-text">
                                            <span>Hello {{ user.username }}!</span> Welcome to your dashboard
                                        </span>
                                        <span class="notification-time">
                                            <a href="#" class="fa fa-close"></a>
                                            <span> 02:14</span>
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="ttr-material-button ttr-submenu-toggle"><span class="ttr-user-avatar"><img alt="" src="{{ user.userprofile.profile_pic.url }}" width="32" height="32"></span></a>
                        <div class="ttr-header-submenu">
                            <ul>
                                <li><a href="/dashboard/profile/">My profile</a></li>
                                <li><a href="/accounts/logout/">Logout</a></li>
                            </ul>
                        </div>
                    </li>
                    
                </ul>
                <!-- header right menu end -->
            </div>
            <!--header search panel start -->
            <div class="ttr-search-bar">
                <form class="ttr-search-form">
                    <div class="ttr-search-input-wrapper">
                        <input type="text" name="qq" placeholder="search something..." class="ttr-search-input">
                        <button type="submit" name="search" class="ttr-search-submit"><i class="ti-arrow-right"></i></button>
                    </div>
                    <span class="ttr-search-close ttr-search-toggle">
                        <i class="ti-close"></i>
                    </span>
                </form>
            </div>
            <!--header search panel end -->
        </div>
    </header>
    <!-- header end -->
    <!-- Left sidebar menu start -->
    <div class="ttr-sidebar">
        <div class="ttr-sidebar-wrapper content-scroll">
            <!-- side menu logo start -->
            <div class="ttr-sidebar-logo">
                <a href="/"><img alt="" src="{% static 'assets/images/uniabuja.png' %}" width="122" height="27"></a>
                <!-- <div class="ttr-sidebar-pin-button" title="Pin/Unpin Menu">
                    <i class="material-icons ttr-fixed-icon">gps_fixed</i>
                    <i class="material-icons ttr-not-fixed-icon">gps_not_fixed</i>
                </div> -->
                <div class="ttr-sidebar-toggle-button">
                    <i class="ti-arrow-left"></i>
                </div>
            </div>
            <!-- side menu logo end -->
            <!-- sidebar menu start -->
            <nav class="ttr-sidebar-navi">
                <ul>

                    <li>
                        <a href="{% url 'index' %}" class="ttr-material-button">
                            <span class="ttr-icon"><i class="ti-home"></i></span>
                            <span class="ttr-label">Home Page</span>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'dashb' %}" class="ttr-material-button">
                            <span class="ttr-icon"><i class="ti-layout-accordion-list"></i></span>
                            <span class="ttr-label">Your Dashboard</span>
                        </a>
                    </li>

                    <li>
                       <a href="{% url 'all_courses' %}" class="ttr-material-button">
                            <span class="ttr-icon"><i class="ti-book"></i></span>
                            <span class="ttr-label">View all Courses</span>
                       </a></li>

                    <li>
                        <a href="{% url 'about' %}" class="ttr-material-button">
                            <span class="ttr-icon"><i class="ti-bookmark-alt"></i></span>
                            <span class="ttr-label">About</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'faq' %}" class="ttr-material-button">
                            <span class="ttr-icon"><i class="ti-comments"></i></span>
                            <span class="ttr-label">Faqs</span>
                        </a>
                    </li>


                    <li>
                        <a href="{% url 'profile' %}" class="ttr-material-button">
                            <span class="ttr-icon"><i class="ti-user"></i></span>
                            <span class="ttr-label">Check your Profile</span>
                        </a>
                    </li>



                </ul>
                <!-- sidebar menu end -->
            </nav>
            <!-- sidebar menu end -->
        </div>
    </div>
    <!-- Left sidebar menu end -->

    <!--Main container start -->
    <main class="ttr-wrapper">
        <div class="container-fluid">
            <div class="db-breadcrumb">
                <h4 class="breadcrumb-title">Dashboard</h4>
                <ul class="db-breadcrumb-list">
                    <li><a href="{% url 'index' %}"><i class="fa fa-home"></i>Home</a></li>
                    <li>Dashboard</li>
                </ul>
            </div>
            <div class="row">
               <!-- Your Profile Views Chart -->
<div class="col-lg-12 m-b30">
    <div class="widget-box">
        <div class="wc-title" style="display: flex; justify-content: space-between; align-items: center;">
            <h3>Welcome {{ user.get_full_name }}!!  This is your starting point! <br/> Explore, learn and grow!</h3>
            <a href="/courses" class="btn green radius-xl outline">+ Add courses</a>
        </div>
    <!-- Success Message Block -->
                {% if messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
        <div class="widget-inner">
            {% for user_course in personalized_courses %}
            <div class="card-courses-list admin-courses">
                <div class="card-courses-media">
                    <img src="{{ user_course.course.thumbnail.url }}" alt="{{ user_course.course.title }}"/>
                </div>
                <div class="card-courses-full-dec">
                    <div class="card-courses-title">
                        <h4>{{ user_course.course.title }}</h4>
                    </div>
                    <div class="card-courses-list-bx">
                        <ul class="card-courses-view">
                            <li class="card-courses-user">

                                <div class="card-courses-user-info">
                                    <h5>Lecturer</h5>
                                    <h4>{{ user_course.course.lecturer.get_full_name }}</h4>
                                </div>
                            </li>
                            <li class="card-courses-categories">
                                <h5>{{ user_course.course.level }} level</h5>
                                <h4>{{ user_course.course.department }}</h4>
                            </li>
                            <li class="card-courses-review">
                                <h5>5 Review</h5>
                                <ul class="cours-star">
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    
                                </ul>
                            </li>

                            <li class="card-courses-price">
                                <del>Priced</del>
                                <h5 class="text-primary">Free</h5>
                            </li>
                        </ul>
                    </div>
                    <div class="row card-courses-dec">
                        <div class="col-md-12">
                            <h6 class="m-b10">Course Description</h6>
                            <p>{{ user_course.course.description }}</p>
                        </div>
                        <div class="col-md-12">
                            <a href="{{ user_course.course.document_link }}" class="btn green radius-xl outline" target="_blank">Open</a>
                            <a href="{% url 'remove_course' user_course.id %}" class="btn red outline radius-xl" onclick="return confirm('Are you sure you want to remove this course?');">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
            </div>
        </div>
    </main>
    <div class="ttr-overlay"></div>

<!-- External JavaScripts -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap-select/bootstrap-select.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'assets/vendors/magnific-popup/magnific-popup.js' %}"></script>
<script src="{% static 'assets/vendors/counter/waypoints-min.js' %}"></script>
<script src="{% static 'assets/vendors/counter/counterup.min.js' %}"></script>
<script src="{% static 'assets/vendors/imagesloaded/imagesloaded.js' %}"></script>
<script src="{% static 'assets/vendors/masonry/masonry.js' %}"></script>
<script src="{% static 'assets/vendors/masonry/filter.js' %}"></script>
<script src="{% static 'assets/vendors/owl-carousel/owl.carousel.js' %}"></script>
<script src='{% static 'assets/vendors/scroll/scrollbar.min.js' %}'></script>
<script src="{% static 'assets/js/functions.js' %}"></script>
<script src="{% static 'assets/vendors/chart/chart.min.js' %}"></script>
<script src="{% static 'assets/js/admin.js' %}"></script>
<script src='{% static 'assets/vendors/switcher/switcher.js' %}'></script>
</body>

<!-- Mirrored from educhamp.themetrades.com/demo/admin/courses.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 22 Feb 2019 13:11:35 GMT -->
</html>