{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- META ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    
    <!-- DESCRIPTION -->
    <meta name="description" content="EduChamp : Education HTML Template" />
    
    <!-- OG -->
    <meta property="og:title" content="EduChamp : Education HTML Template" />
    <meta property="og:description" content="EduChamp : Education HTML Template" />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no">
    
    <!-- FAVICONS ICON ============================================= -->
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}" />
    
    <!-- PAGE TITLE HERE ============================================= -->
    <title>EduChamp : Education HTML Template </title>
    
    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--[if lt IE 9]>
    <script src="{% static 'assets/js/html5shiv.min.js' %}"></script>
    <script src="{% static 'assets/js/respond.min.js' %}"></script>
    <![endif]-->
    
    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/assets.css' %}">
    
    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/typography.css' %}">
    
    <!-- SHORTCODES ============================================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/shortcodes/shortcodes.css' %}">
    
    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <link class="skin" rel="stylesheet" type="text/css" href="{% static 'assets/css/color/color-1.css' %}">
    
</head>

<body id="bg">
<div class="page-wraper">
<div id="loading-icon-bx"></div>

    <!-- Header Top ==== -->
    <header class="header rs-nav header-transparent ">
        <div class="top-bar">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="topbar-left">
                        <ul>
                            <li><a href="/faq/"><i class="fa fa-question-circle"></i>Ask a Question</a></li>
                            <li><a href="mailto: info@uniabuja.edu.ng?subject=Your Question" target="_blank"><i class="fa fa-envelope-o"></i>info@uniabuja.edu.ng</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="sticky-header navbar-expand-lg">
            <div class="menu-bar clearfix">
                <div class="container clearfix">
                    <!-- Header Logo ==== -->
                    <div class="menu-logo">
                        <a href="/"><img src="{% static 'assets/images/uniabuja02.png' %}" alt=""></a>
                    </div>
                    <!-- Mobile Nav Button ==== -->
                    <button class="navbar-toggler collapsed menuicon justify-content-end" type="button" data-toggle="collapse" data-target="#menuDropdown" aria-controls="menuDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <!-- Author Nav ==== -->
                    <div class="secondary-menu">
                        <div class="secondary-inner">
                            <ul>
                                <li><a href="https://web.facebook.com/@universityofabuja" class="btn-link" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://www.linkedin.com/school/university-of-abuja/" target="_blank" class="btn-link"><i class="fa fa-linkedin"></i></a></li>
                                <!-- Search Button ==== -->

                            </ul>
                        </div>
                    </div>

                    <!-- Navigation Menu ==== -->
                    <div class="menu-links navbar-collapse collapse justify-content-start" id="menuDropdown">
                        <div class="menu-logo">
                            <a href="/"><img src="{% static 'assets/images/uniabuja.png' %}" alt=""></a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">Home </a></li>

                            <li><a href="/about/">About </a></li>

                            <li><a href="/faq/">FAQ's </a>
                            </li>
                            <li><a href="/contact/">Contact Us</a>
                            </li>
                            <li><a href="/blog/">Blog </a>
                            </li>
                            {% if user.is_authenticated %}
                            <li><a href="/accounts/logout/">Logout</a></li>
                            {% else %}
                            {% endif %}
                        </ul>
                        <div class="nav-social-link">
                            <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                            <a href="javascript:;"><i class="fa fa-google-plus"></i></a>
                            <a href="javascript:;"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <!-- Navigation Menu END ==== -->
                </div>
            </div>
        </div>
    </header>
    <!-- header END ==== -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner ovbl-dark" style="background-image:url({% static 'assets/images/banner/banner3.jpg' %});">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white">Our Courses</h1>
                 </div>
            </div>
        </div>
        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="/">Home</a></li>
                    <li>Our Courses</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb row END -->
        <!-- inner page banner END -->
        <div class="content-block">
            <!-- About Us -->
            <div class="section-area section-sp1">
                <div class="container">
                     <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-12 m-b30">
                            
                            <div class="widget widget_archive">
                                <h5 class="widget-title style-1">All Courses</h5>
                                <ul>
                                    <li class="active"><a href="#">General</a></li>
                                    <li><a href="#">Technology & Science</a></li>
                                    <li><a href="#">Arts & Literature</a></li>
                                    <li><a href="#">Programming & IT</a></li>
                                    <li><a href="#">Law & E-commerce</a></li>
                                    <li><a href="#">Others</a></li>

                                </ul>
                            </div>
                            <div class="widget">
                                <a href="https://www.udemy.com/" target="_blank" ><img src="{% static 'assets/images/adv/adv.jpg' %}" alt=""/></a>
                            </div>
                            <div class="widget recent-posts-entry widget-courses">
                                <h5 class="widget-title style-1">Recent Courses</h5>
                                <div class="widget-post-bx">
                                    {% for course in recent_courses %}
                                    <div class="widget-post clearfix">
                                        <div class="ttr-post-media">
                                            <img src="{{ course.thumbnail.url }}" width="200" height="143" alt="{{ course.title }}"/>
                                        </div>
                                        <div class="ttr-post-info">
                                            <div class="ttr-post-header">
                                                <h6 class="post-title"><a href="#">{{ course.title }}</a></h6>
                                            </div>
                                            <div class="ttr-post-meta">
                                                <ul>
                                                    <li class="price">
                                                        <del>Priced</del>
                                                        <h5>Free</h5>
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-12">
                            <div class="row">
                                {% for course in all_courses %}
                                <div class="col-md-6 col-lg-4 col-sm-6 m-b30">
                                    <div class="cours-bx">
                                        <div class="action-box">
                                            <img src="{{ course.thumbnail.url }}" alt="{{ course.title }}"/>
                                            {% if user.is_authenticated and user.userprofile.is_lecturer %}
                                                {% if course.lecturer == user %}
                                                <a href="{{ course.document_link }}" class="btn" target="_blank" >Edit details</a>
                                                {% else %}
                                                <a href="{{ course.document_link }}" class="btn" target="_blank" >Read course</a>
                                                {% endif %}
                                            {% elif user.is_authenticated%}
                                            <a href="{% url 'add_course' course.id %}" class="btn">Add to My Courses</a>
                                            
                                            {% else %}
                                            <a href="/accounts/login/" class="btn">Review Course now</a>
                                            {% endif %}
                                        </div>
                                        <div class="info-bx text-center">
                                            <h5>{{ course.title }}</h5>
                                            
                                        </div>
                                        <div class="cours-more-info">
                                            <div class="review">
                                                <span>5 star Review</span>
                                                <ul class="cours-star">
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    

                                                </ul>
                                            </div>
                                            <div class="price">
                                                {{ course.level }} level
                        <h6>{{ course.department }}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- contact area END -->
        
    </div>
    <!-- Content END-->
    <!-- Footer ==== -->
    <footer>
    <div class="footer-top">
        <div class="pt-exebar">
            <div class="container">
                <div class="d-flex align-items-stretch">
                    <div class="pt-logo mr-auto">
                        <a href="/"><img src="{% static 'assets/images/uniabuja.png' %}" alt="" width="100px" height="100"/></a>
                    </div>
                    <div class="pt-social-link">
                        <ul class="list-inline m-a0">

                             <li><a href="https://web.facebook.com/@universityofabuja" class="btn-link" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://www.linkedin.com/school/university-of-abuja/" target="_blank" class="btn-link"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                    </div>
                    <div class="pt-btn-join">
                        <a href="/accounts/register/" class="btn ">Join Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 footer-col-4">
                    <div class="widget">
                        <h5 class="footer-title">Sign Up For A Newsletter</h5>
                        <p class="text-capitalize m-b20">Stay updated with weekly breaking news analysis and expert insights in education.</p>
                        <div class="subscribe-form m-b20">
                            <form class="subscription-form" action=" " method="post">
                                <div class="ajax-message"></div>
                                <div class="input-group">
                                    <input name="email" required="required" class="form-control" placeholder="Your Email Address" type="email">
                                    <span class="input-group-btn">
                                        <button name="submit" value="Submit" type="submit" class="btn"><i class="fa fa-arrow-right"></i></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 col-md-7 col-sm-12">
                    <div class="row">
                        <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                            <div class="widget footer_widget">
                                <h5 class="footer-title">Company</h5>
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/about/">About</a></li>
                                    <li><a href="/faq/">FAQs</a></li>
                                    <li><a href="/contact/">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                            <div class="widget footer_widget">
                                <h5 class="footer-title">Get In Touch</h5>
                                <ul>
                                        {% if user.is_authenticated %}
										<li><a href="/dashboard/">Dashboard</a></li>
										{% else %}
                                        <li><a href="/accounts/login/">Login</a></li>
                                        {% endif %}
                                        <li><a href="/blog/">Blog</a></li>
									</ul>
                            </div>
                        </div>
                        <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                            <div class="widget footer_widget">
                                <h5 class="footer-title">Courses</h5>
                                <ul>
                                    <li><a href="/courses/">Courses</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-5 col-sm-12 footer-col-4">
                    <div class="widget widget_gallery gallery-grid-4">
                        <h5 class="footer-title">Our Partners</h5>
                        <ul class="magnific-image">
                            <li><a href="{% static 'assets/images/gallery/pic.jpg' %}" class="magnific-anchor"><img src="{% static 'assets/images/gallery/pic.jpg' %}" alt=""></a></li>
                            <li><a href="{% static 'assets/images/gallery/pic1.png' %}" class="magnific-anchor"><img src="{% static 'assets/images/gallery/pic1.png' %}" alt=""></a></li>
                            <li><a href="{% static 'assets/images/gallery/pic2.png' %}" class="magnific-anchor"><img src="{% static 'assets/images/gallery/pic2.png' %}" alt=""></a></li>
                            <li><a href="{% static 'assets/images/gallery/pic3.png' %}" class="magnific-anchor"><img src="{% static 'assets/images/gallery/pic3.png' %}" alt=""></a></li>
                            <li><a href="{% static 'assets/images/gallery/pic4.png' %}" class="magnific-anchor"><img src="{% static 'assets/images/gallery/pic4.png' %}" alt=""></a></li>
                            <li><a href="{% static 'assets/images/gallery/pic6.png' %}" class="magnific-anchor"><img src="{% static 'assets/images/gallery/pic6.png' %}" alt=""></a></li>
                            <li><a href="{% static 'assets/images/gallery/pic7.png' %}" class="magnific-anchor"><img src="{% static 'assets/images/gallery/pic7.png' %}" alt=""></a></li>
                            <li><a href="{% static 'assets/images/gallery/pic8.png' %}" class="magnific-anchor"><img src="{% static 'assets/images/gallery/pic8.png' %}" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center"> <a href="#">SEN 201 (GROUP H)</a></div>
            </div>
        </div>
    </div>
</footer>
    <!-- Footer END ==== -->
    <button class="back-to-top fa fa-chevron-up" ></button>
</div>
<!-- External JavaScripts -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap-select/bootstrap-select.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'assets/vendors/magnific-popup/magnific-popup.js' %}"></script>
<script src="{% static 'assets/vendors/counter/waypoints-min.js' %}"></script>
<script src="{% static 'assets/vendors/counter/counterup.min.js' %}"></script>
<script src="{% static 'assets/vendors/imagesloaded/imagesloaded.js' %}"></script>
<script src="{% static 'assets/vendors/masonry/masonry.js' %}"></script>
<script src="{% static 'assets/vendors/masonry/filter.js' %}"></script>
<script src="{% static 'assets/vendors/owl-carousel/owl.carousel.js' %}"></script>
<script src="{% static 'assets/js/functions.js' %}"></script>
<script src="{% static 'assets/js/contact.js' %}"></script>
<script src='{% static 'assets/vendors/switcher/switcher.js' %}'></script>
</body>

</html>